<div >
  <ngb-carousel style="width: 100%; height: 350px; padding-left: 16px; padding-right: 16px">
    <ng-template ngbSlide>
      <div  style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/515678332/tr/foto%C4%9Fraf/olive-trees-on-sunset.jpg?s=612x612&w=0&k=20&c=OUo_TH-sVQYYCSbuoPrjEn0mpHQpikd0uptxK_OL_y4=" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Hatay Zeytin Ağaçları</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/119165809/tr/foto%C4%9Fraf/close-up-of-ripe-wheat-ears.jpg?s=612x612&w=0&k=20&c=9QT0l4dbklRaRfud7QkdA7su_XrbJ4fBdwgepoHbprU=" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>Konya Buğday Tarlaları</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div  style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/612242240/tr/foto%C4%9Fraf/ripe-apples-in-orchard-ready-for-harvesting.jpg?s=612x612&w=0&k=20&c=C7-N20_paEjrPjh7tYBawSvAPfUexYGiaEthPVqEJAY=" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Amasya Elmaları</h3>
      </div>
    </ng-template>
  </ngb-carousel>    
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6" style="padding: 15px;">
        <div class="mat-card">
            <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                <mat-card-header>
                    <mat-card-title><h2>Turunçgiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Portakal</h3></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://static5.depositphotos.com/1005352/520/i/600/depositphotos_5209159-stock-photo-oranges-hanging-tree.jpg" alt="Turunçgiller">
                <mat-card-content>
                  <p>
                    Turunçgiller, portakal, mandalina, greyfurt, limon, bergamot ve limonata gibi meyveleri içeren bir meyve grubudur. Türkiye'de Akdeniz ve Ege bölgelerinde yetiştirilirler. Bu meyveler C vitamini bakımından zengindir ve bağışıklık sistemini güçlendirirler. Aynı zamanda potasyum, lif ve antioksidanlar açısından da zengindirler ve kalp sağlığı, sindirim sistemi sağlığı ve cilt sağlığı gibi çeşitli faydaları vardır.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
      <div class="col-md-6" style="padding: 15px;">
        <div class="mat-card">
            <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                <mat-card-header>
                    <mat-card-title><h2>Defnegiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Avakado</h3></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://st4.depositphotos.com/19157714/21592/i/600/depositphotos_215926622-stock-photo-fresh-avocados-wooden-table-close.jpg" alt="Defnegiller">
                <mat-card-content>
                  <p>
                    Defne ağacı ailesi, baharat ve ilaç endüstrilerinde önemli bir yere sahiptir. Türkiye'de özellikle Akdeniz Bölgesi'nde yetişmektedir ve defne yaprakları, defne yağı, defne tohumları gibi çeşitli şekillerde kullanılmaktadır. Defne yaprakları, yemeklerde lezzet verici olarak kullanıldığı gibi ayrıca çeşitli sağlık faydaları da sunar.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding: 15px;">
          <div class="mat-card">
              <mat-card style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                  <mat-card-header>
                    <mat-card-title><h2>Tohumlar</h2></mat-card-title>
                    <mat-card-subtitle><h3>Susam</h3></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://media.istockphoto.com/id/175492267/tr/foto%C4%9Fraf/integral-sesame-seads.jpg?s=612x612&w=0&k=20&c=h2BpIYho7ESEha69jV0mzF62uX3i0wFDc8uei-_aTQI=" alt="Tohumlar">
                  <mat-card-content>
                    <p>
                      Susam, sağlıklı yağlar, protein, lif, vitaminler ve mineraller açısından zengin bir tohum bitkisidir. Özellikle Omega-3 yağ asitleri bakımından yüksek olan susam, kalp sağlığı, sindirim, kemik sağlığı ve bağışıklık sistemini destekleyebilir. Türkiye'de genellikle Güneydoğu Anadolu Bölgesi'nde yetiştirilmektedir.
                    </p>
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
        <div class="col-md-6" style="padding: 15px;">
          <div class="mat-card" >
              <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                  <mat-card-header>
                    <mat-card-title><h2>Buğdaygiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Karabuğday</h3></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://media.istockphoto.com/id/114332953/tr/foto%C4%9Fraf/wooden-spoon-filled-with-buckwheat-grain.jpg?s=612x612&w=0&k=20&c=PVy-si6dtPOLn_-vytHLRVAWnx7IWYwczNThf7hPCjk=" alt="Buğdaygiller">
                  <mat-card-content>
                    <p>
                      Karabuğday, birçok sağlık faydası olan bir bitkidir. Özellikle glütensiz bir tahıl olması ve yüksek protein, lif ve mineral içeriği nedeniyle sağlıklı beslenme açısından önemlidir. Türkiye'de Karadeniz bölgesinde yetiştirilen karabuğday, özellikle kahvaltılık olarak tüketilir ve "kara buğday" olarak da bilinir. Ayrıca, karabuğday unu, makarna, ekmek ve tatlı yapımında da kullanılır.
                    </p>
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
      </div>
  </div>
    
