<div >
  <ngb-carousel style="width: 100%; height: 350px; padding-left: 16px; padding-right: 16px">
    <ng-template ngbSlide>
      <div style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/119165809/tr/foto%C4%9Fraf/close-up-of-ripe-wheat-ears.jpg?s=612x612&w=0&k=20&c=9QT0l4dbklRaRfud7QkdA7su_XrbJ4fBdwgepoHbprU=" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>Konya Buğday Tarlaları</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div  style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/612242240/tr/foto%C4%9Fraf/ripe-apples-in-orchard-ready-for-harvesting.jpg?s=612x612&w=0&k=20&c=C7-N20_paEjrPjh7tYBawSvAPfUexYGiaEthPVqEJAY=" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Amasya Elmaları</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div  style="position: relative; width: 100%;">
        <img style="width: 100%; height: 350px; " src="https://media.istockphoto.com/id/504311984/tr/foto%C4%9Fraf/olive-trees-garden.jpg?s=612x612&w=0&k=20&c=axu0m4Kg0NCJ_n_QSgV7-mziG7e2JZzNU1zq3K7nzdw=" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Hatay Zeytin Ağaçları</h3>
      </div>
    </ng-template>
  </ngb-carousel>    
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6" style="padding: 15px;">
        <div class="mat-card">
            <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                <mat-card-header>
                    <mat-card-title><h2>Turunçgiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Portakal</h3></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://static5.depositphotos.com/1005352/520/i/600/depositphotos_5209159-stock-photo-oranges-hanging-tree.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
      <div class="col-md-6" style="padding: 15px;">
        <div class="mat-card">
            <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                <mat-card-header>
                    <mat-card-title><h2>Defnegiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Avakado</h3></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://st4.depositphotos.com/19157714/21592/i/600/depositphotos_215926622-stock-photo-fresh-avocados-wooden-table-close.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding: 15px;">
          <div class="mat-card">
              <mat-card style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                  <mat-card-header>
                    <mat-card-title><h2>Tohumlar</h2></mat-card-title>
                    <mat-card-subtitle><h3>Susam</h3></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://media.istockphoto.com/id/175492267/tr/foto%C4%9Fraf/integral-sesame-seads.jpg?s=612x612&w=0&k=20&c=h2BpIYho7ESEha69jV0mzF62uX3i0wFDc8uei-_aTQI=" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
        <div class="col-md-6" style="padding: 15px;">
          <div class="mat-card" >
              <mat-card  style="max-width: 400px; border-width: 5px; border-radius: 10px; border-style: solid;border-color:#68ac64 ;">
                  <mat-card-header>
                    <mat-card-title><h2>Buğdaygiller</h2></mat-card-title>
                    <mat-card-subtitle><h3>Karabuğday</h3></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://media.istockphoto.com/id/114332953/tr/foto%C4%9Fraf/wooden-spoon-filled-with-buckwheat-grain.jpg?s=612x612&w=0&k=20&c=PVy-si6dtPOLn_-vytHLRVAWnx7IWYwczNThf7hPCjk=" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
      </div>
  </div>
    
