<div class="modal-header">
  <h5 class="modal-title" ></h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>


<div class="modal-body">
      <form [formGroup]="form" style="margin-top: 40px; ">
        <table>
          <tr >
              <mat-form-field  class="example-full-width">
                <mat-label>İsim</mat-label>
                <input matInput  formControlName="name">
              </mat-form-field>
          </tr> 
          <tr>
            <mat-form-field class="example-full-width">
              <mat-label>Fiyat</mat-label>
              <input type="number" matInput  formControlName="price" >
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width">
              <mat-label>Açıklama</mat-label>
              <input type="text" matInput  formControlName="description">
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width">
              <mat-label>Tip</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width">
              <mat-label>Fotoğraf Url</mat-label>
              <input type="text" matInput  formControlName="photoUrl">
            </mat-form-field>
          </tr>
      </table>
      <div class="example-button-container" style="float: right; margin-bottom: 20px;">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onSubmit()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      </form>

      
</div>