<form [formGroup]="form">
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <input matInput placeholder="type" formControlName="type">
      </mat-form-field>
    </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="price">
      </mat-form-field>
    </td>
    </tr>
  </table>
</form>

