
<mat-tab-group>
  <mat-tab label="Login"> 
    <form [formGroup]="loginForm">
      <table>
        <tr >
            <mat-form-field  class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput  formControlName="userName">
            </mat-form-field>
        </tr> 
        <tr>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@example.com" formControlName="email" >
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="User Name" formControlName="password">
          </mat-form-field>
        </tr>
    </table>
    </form>
  </mat-tab>
  <mat-tab label="Sign Up">
    <form [formGroup]="signUpForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname">
          </mat-form-field>
        </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" formControlName="userName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="someone@example.com" formControlName="email" >
          </mat-form-field>
        </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
        </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>User Type</mat-label>
            <select matNativeControl required formControlName="userType">
              <option value=0>Admin</option>
              <option value=1>Costumer</option>
            </select>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
            <mat-label>User Type</mat-label>
            <input matInput  formControlName="userType">
          </mat-form-field> -->
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </td>
        </tr>
      </table>
    </form>
    
  </mat-tab>
</mat-tab-group>
