<!-- <div class="dialog-content">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput   
        type="search"
        class="input w-full pl-11"
        [formControl]="itemSearchInput"
        autocomplete="off"
        autofocus placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngFor="let product of productList" >
            {{product.name}}
          </mat-list-option>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                  <mat-icon>create</mat-icon>
                <span>Düzenle</span>
              </button>
              <button mat-menu-item >
                <mat-icon>delete_sweep</mat-icon>
                <span>Sil</span>
              </button>
            </mat-menu>
      </mat-selection-list>
</div>
<div class="dialog-footer">
    <button >
        <mat-icon>add_circle</mat-icon>
    </button>
</div>
 -->

 <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th
          class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700"
        >Ürün İsmi </th>
        <th
          class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700"
        >
          Ürün Tipi
        </th>
        <th
          class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700"
        >
         Ürün Açıklaması
        </th>
        <th
          class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700"
        >
          Ürün Fiyatı
        </th>
        <th
          class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700"
        > </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList" >
        <td
          class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
        >
          {{ item.name }}
        </td>
        <td
          class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
        >
          {{ item.type}} 
        </td>
        <td
          class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
        >
          {{ item.description }}
        </td>
        <td
          class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
        >
          {{ item.price }}
        </td>
        <td
          class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
        >
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="selectProduct(item,'update')">
                <mat-icon>create</mat-icon>
              <span>Düzenle</span>
            </button>
            <button mat-menu-item (click)="selectProduct(item,'delete')">
              <mat-icon>delete_sweep</mat-icon>
              <span>Sil</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
    <tfoot>
        <button (click)="newProduct()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </tfoot>
  </table>


